@font-face {
font-family:"Pokemon Generation 1 Regular";
src:
    url("src/assets/pokemon_generation_1.eot?") format("eot"),
    url("src/assets/pokemon_generation_1.woff") format("woff"),
    url("src/assets/pokemon_generation_1.ttf") format("truetype"),
    url("src/assets/pokemon_generation_1.svg#Pokemon-Generation-1") format("svg");
font-weight:normal;
font-style:normal;
}

:root{
    --black: #181010;
    --white: #ffffff;
    --red : #f83628;
    --orange: #f8aa17;
    --green : #22b812;

    font-family: "Pokemon Generation 1 Regular", monospace;
}

body{
background-color: var(--black);
display: flex;
justify-content: center;
align-items: center;
height: 98vh;

button{
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.game{
    overflow: hidden;
    height: 90vh;
    width: 80vh;
    background-color: var(--white);
    color: var(--black);

    img{
        height: 100%;
        image-rendering: pixelated;

        @keyframes EnemyAttack {
            0% {transform: translate(-10px, -5px);}
            50% {transform: translate(-30px, 15px);}
            100% {transform: translate(0, 0);}
        }
        @keyframes SelfAttack {
            0% {transform: translate(10px, 5px);}
            50% {transform: translate(30px, -15px);}
            100% {transform: translate(0, 0);}
        }

        @keyframes Hurt {
            0% {opacity: 100%;}
            50% {opacity: 0%;}
            100% {opacity: 100%;}
        }
    }

    .interface{
        font-size: 1.5rem;
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        z-index: 10;

        .name{
            display: flex;
            font-size: 2rem;

            .lvl{
                margin: auto 0 0 1rem;
                font-size: medium;
            }
        }

        .hp{
            display: flex;
            gap: 1rem;
    
            .hp__bar{
                --hpBar__size : 100%;

                margin: auto 0;
                background-color: transparent;
                outline: 2px solid var(--black);
                height: 20px;
                width: 250px;

                &::after{
                    content: "";
                    display: block;
                    background-color: var(--green);
                    height: 100%;
                    width: var(--hpBar__size);
                    transition: width 500ms ease-in-out;
                }
            }
        }
        .hp__label{
            text-align: end;
            font-size: larger;
        }
    }

        .pokemon1{
            height: 35%;
            display: flex;
            justify-content: end;
            width: 98%;

            img.attack{
                animation: EnemyAttack 600ms forwards steps(2, end);
            }

            img.hurt{
                animation: Hurt 600ms forwards steps(2, end);
            }
        } 

        .pokemon2{
            height: 35%;
            display: flex;
            width: 100%;
            margin-left: 2%;
        
            img.attack{
                animation: SelfAttack 600ms forwards steps(2, end);
            }
            
            img.hurt{
                animation: Hurt 600ms forwards steps(2, end);
            }
        }

    .textbox{
        height: 25%;
        font-size: 1.5rem;
        margin: 1rem 2rem 0 2rem;

        .info{
            height:40%;
        }
        .attacks{
            margin-top: 1rem;
            height: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            .attack{
                font-size: medium;
                padding: 0 0.5rem;
                cursor: pointer;
                &:hover{
                    outline: 2px solid var(--black);
                }
                .attack__wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .pp{
                    font-size: small;
                    margin: auto 0;
                }
            }
        }
    }
}
}